{{> head}}

{{> navbar}}
    <div class="row">

        <div class="col-8">
            <h1>Asce Portgas</h1>
        </div>

        <div class="col-4">
            <img src="assets/img/asce.jpg" class="img-thumbnail">
        </div>

    </div>

{{> footer}}